.search_form{
	width: 100%;
}

.search_form #category{
	display: inline-block;
	width: 60%;
	height: 35px;
	font-size: 12px;
}

.search_form #keywords{
	display: inline-block;
	width: 35%;
}

.clear {
  clear: both;
}